header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-box .techs .content .numbers .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .main-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}
header nav {
  width: 55%;
  position: absolute;
  right: 0;
}
header nav .main-links {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 0 100px;
}
header nav .main-links::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}
header nav .link-item {
  position: relative;
  counter-increment: link-counter;
  margin-right: 20px;
}
header nav .link-item::before {
  position: absolute;
  content: "0" counter(link-counter);
  left: -25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
}
header nav .link-item.active::after {
  position: absolute;
  content: "";
  width: calc(100% + 25px);
  top: 100%;
  left: -25px;
  background-color: #fff;
  height: 2px;
}
header nav .link-item a {
  display: inline-block;
  padding: 25px 0;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
}

ul {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  background-size: cover;
  height: 100vh;
  padding: 25px 0;
}

main {
  background-image: url(../../assets/technology/background-technology-desktop.jpg);
}

.main-box {
  position: relative;
  top: 60px;
  padding-left: 180px;
}
.main-box .space-lunch {
  position: relative;
  left: 30px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
}
.main-box .space-lunch::before {
  position: absolute;
  content: "03";
  left: -30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
  font-weight: 500;
}
.main-box .techs .content {
  position: relative;
  left: 140px;
  top: 100px;
}
.main-box .techs .content .terminolgy {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
}
.main-box .techs .content .name {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 15px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}
.main-box .techs .content .description {
  color: rgba(255, 255, 255, 0.6);
  line-height: 2;
  font-weight: 100;
}
.main-box .techs .content .numbers {
  position: absolute;
  left: -140px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.main-box .techs .content .numbers .number {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 21px;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main-box .techs .content .numbers .number.active {
  background-color: #fff;
  color: #0b0e17;
}
.main-box .techs .image {
  position: absolute;
  right: 0;
  top: 30px;
}
.main-box .techs .image img {
  max-width: 100%;
}