body {
    font-family:'Roboto', sans-serif;
    background-image: url(../images/pattern-background-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e0e8ff;
}
.box {
    width: 350px;
    padding-bottom: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}
.box > img {
    width: 100%;
}
.box .box-caption {
    text-align: center;
    padding: 25px;
}
.box-caption h2 {
    margin-top: 0;
    font-size: 22px;
}
.box-caption p {
    font-size: 14px;
    color: #777;
}
.box-caption .plan {
    background-color: #f8f9fe;
    padding: 10px;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
}
.box-caption .plan-details {
    display: flex;
    align-items: center;
}
.plan-details .price {
    margin-left: 15px;
}
.plan-details .price span {
    display: block;
}
.plan-details .price span:first-child {
    margin-bottom: 7px;
    font-weight: bold;
}
.plan-details .price span:last-child {
    color: #777;
}
.box .box-caption > a {
    display: block;
    text-decoration: none;
}
.box .box-caption > a:first-of-type {
    padding: 15px;
    margin: 10px 0 15px;
    background-color: #382adf;
    color: white;
    border-radius: 7px;
}