$delete-color: hsl(0, 93%, 68%);
$replay-line: hsl(223, 19%, 93%);
$blue-color: #5358b4;
$score-bg: #f3f3f3;
$comment-color: hsl(211, 10%, 45%);
$body-color: hsl(228, 33%, 97%);
$name-color: #4f5458;
$date-color: #959596;
